@import '../../vars_mixins.scss';
@import '../../animations.scss';

.info_wrapper{
    width: 200px;
    margin-top: 20px;
}
.info_wrapper ul{
    margin-left: -25px;
}
.hidden{
    display: none;
}
.info_how-to{
    animation: show 1s ease;
}