@import '../../vars_mixins.scss';

.card{
width: $card-width;
height: $card-height;
border-radius: 15px;
border: 3px;
border-color: black;
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
cursor: pointer;

    @media screen and (max-width: 550px){
        width: $card-width * 0.7;
        height: $card-height * 0.7;
        border-radius: 15px;
        border: 3px;
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        cursor: pointer;
    }

    &.on{
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        width: $card-width * 1.1;
        height: $card-height * 1.1;
        margin: (10px - ($card-height * 0.05)) (10px - ($card-width * 0.05));
        }
    &.off{
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    &.disabled{
        background-color: rgba(0, 0, 0, 0);
    }
}