.card{
width: 50px;
height: 80px;
border-radius: 15px;
border: 3px;
/* background-color: white; */
border-color: black;
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
cursor: pointer;
}
@media screen and (max-width: 550px){
    .card{
        width: 35px;
        height: 56px;
        border-radius: 15px;
        border: 3px;
        /* background-color: white; */
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        cursor: pointer;
        }
}
.on{
background-color: rgba(255, 255, 255, 0.7);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.off{
background-color: rgba(0, 0, 0, 0.7);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.disabled{
background-color: rgba(0, 0, 0, 0);
}