.card{
width: 50px;
height: 80px;
border-radius: 15px;
border: 3px;
/* background-color: white; */
border-color: black;
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
}
.on{
background-color: white;
}
.off{
background-color: black;
}
.disabled{
background-color: blue;
}