@import '../../vars_mixins.scss';

.digit{
    font-family: serif;
    font-size: $card-fz;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: $card-pic-width;
    }
}
@media screen and (max-width: 550px), (orientation: portrait){
    .digit{    
        font-size: $card-fz * 0.7;

        img{
            width: $card-pic-width * 0.7;
        }
    }
}